<!DOCTYPE html>
<html lang="en">
<head>
   {{>head}}
</head>
<body>
    {{>navbar}}

    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right  align-items-center ">
                        <figure>
                            <img src="image/about.jpg" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left ">
                        <p>Welcome to Smart Weather</p>
                        <h1>I Am A <span class="text_clr">Full Stack Developer </span>And A Coding Enthusiast </h1>
                        <a href="/"><button>Back</button></a>
                    </div>
                    

                </div>
            </div>
        </div>
    </div> 
    
   {{>footer}}

</body>
</html>